/*Font improting*/
@font-face {
	font-family: Pacifico;
	src: URL('../fonts/Pacifico.ttf');
}

/*Basic styles*/
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Raleway;
	font-size: 62.5%;
	font-weight: normal;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

/*Header*/
.header {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: hidden;
	height: 80px;
	width: 100%;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}
.header--active {
	height: 508px;
	border-bottom: 1px solid #000;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}
.header__name {
	position: absolute;
	left: 20px;
	font-family: Pacifico;
	font-size: 4.2rem;
	line-height: 80px;
	margin: 0;
}
.navbar {
	position: absolute;
	top: 80px;
	width: 100%;
	
}
.navbar__list {
	width: 100%;
	font-weight: bold;
}
.navbar__list--active {
	display: list-item;
}
.navbar__elem {
	width: 100%;
	background-color: #F9F8FB;
	border-top: 1px solid #000;
	font-size: 1.6rem;
	line-height: 60px;
	list-style-type: none;
	text-align: center;
}
.header__hamburger {
	top: 20px;
	left: calc(100% - 65px);
	position: relative;
	height: 40px;
	width: 45px;
	background: transparent;
	border: none;
	border-top: 5px solid #000;
	outline: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.header__hamburger::before, .header__hamburger::after {
	content: "";
	position: absolute;
	-webkit-transform: translateY(12.5px);
	transform: translateY(12.5px);
	top: 0;
	left: 0;
	width: 100%;
	border-top: 0.5rem solid #000;
}
.header__hamburger::after {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}
.header__hamburger--active {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border: none;
}
.header__hamburger--active::after {
	-webkit-transform: rotate(-90deg) translateX(-1.25rem);
	transform: rotate(-90deg) translateX(-1.25rem);
}

/*Sections positioning*/
.intro, .about, .services, .gallery, .subscription, .blog, .contact {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 30px;
}
/*Section headers*/
.intro__header, .about__header, .services__header, .gallery__header, .subscription__header, .blog__header, .contact__header {
	font-size: 4.2rem;
	font-weight: 900;
	margin: 60px 0;
	text-align: center;
	text-transform: capitalize;
}
/*Section paragraphs*/
.intro__text, .about__text, .services__text, .gallery__text, .subscription__text, .blog__text, .contact__text {
	margin-bottom: 60px;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
}
/*Section buttons*/
.intro__btn, .services__btn, .gallery__btn, .subscription__btn, .blog__btn {
	height: 55px;
	width: 100%;
	border: none;
	font-family: Raleway;
	font-size: 2rem;
	font-weight: 300;
	text-transform: uppercase;
}

/*Intro section*/
.intro {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 600px;
	padding-top: 60px;
	background-image: url(../img/intro-bkg.png);
	background-position: 50% 0%;
}
.intro__header {
	margin-top: 0;
	margin-bottom: 17px;
}
.intro__text {
	margin-bottom: 0;
}
.intro__btn {
	width: 200px;
	background: #FF6033;
	color: #FFF;
	margin-top: 80px;
}

/*About us section*/
.about {
	background-image: url(../img/about-bkg.png);
	background-position: 48%;
}

/*Services section*/
.services {
	background-image: url(../img/services-bkg.png);
	background-position: 70%;
	padding-bottom: 40px;
}
.services__btn {
	position: relative;
	height: 80px;
	margin-bottom: 20px;
	background-color: #FFF;
	color: #262626;
	font-weight: 700;
	text-transform: none;
}
.services__wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 80px;
	width: 80px;
	border-left: 2px solid rgba(38, 38, 38, 0.7);
}
.services__name {
	display: block;
	margin-right: 80px;
	text-transform: capitalize;
}
.services__icon {
	height: 80px;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.services__icon--position {
	-webkit-transform: scale(0.8) translateY(-4px);
	transform: scale(0.8) translateY(-4px);
}

/*Gallery section*/
.gallery {
	background-color: #FFE92F;
}
.gallery__wrapper {
	width: calc(100% + 60px);
}
.gallery__photo {
	display: block;
	height: 300px;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.gallery__btn {
	margin: 20px 0;
	background: #5585A2;
	color: #FFF;
}

/*Subscription section*/
.subscription {
	background-image: url(../img/subscribe-bkg.png);
	background-position: 56% 80px;
}
.subscription__input {
	height: 55px;
	width: 100%;
	padding-left: 10px;
	border:solid 1px #000;
	font-size: 1.5rem;
}
.subscription__btn {
	background-color: #96B92C;
	margin: 30px 0;
}

/*Blog section*/
.blog {
	background-color: #B07CF7;
}
.blog__article {
	position: relative;
	height: 310px;
	width: calc(100% + 60px);
	max-width: 370px;
	background-position: center;
	background-size: cover;
}
.blog__article::before {
	content: '';
	position: absolute;
	bottom: 0;
	height: 150px;
	width: 100%;
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(26,26,26,0)),to(rgb(26,26,26)));
	background-image: linear-gradient(to bottom,rgba(26,26,26,0),rgb(26,26,26));
	opacity: 0.7;
}
.article__date {
	position: absolute;
	top: 30px;
	left: 30px;
	height: 60px;
	width: 60px;
	background-color: rgba(38, 38, 38, 0.5);
	border-radius: 6px;
	color: #fff;
	font-size: 3.2rem;
	font-weight: 700;
	text-align: center;
}
.article__month {
	display: block;
	font-size: 2.1rem;
	text-transform: uppercase;
}
.article__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
	color: #fff;
	font-size: 1.3rem;
	line-height: 2.5rem;
}
.article__paragraph {
	font-size: 2rem;
	font-weight: 700;
}
.blog__btn {
	margin: 20px 0;
	background-color: #F72B3B;
	color: #FFF;
}

/*Contact section*/
.contact {
	background-image: url(../img/contact-bkg.png);
	background-position: center;
	background-size: cover;
}
.contact__input-header {
	height: 50px;
	width: 100%;
	padding-left: 15px;
	background-color: #00C4C4;
	border-left: 5px solid #355B82;
	color: #fff;
	line-height: 50px;
	font-size: 1.5rem;
	font-weight: 700;
}
.contact__input {
	height: 50px;
	width: 100%;
	margin-top: 15px;
	padding-left: 20px;
	background-color: #00C4C4;
	border: none;
	color: #FFF;
	font-size: 1.5rem;
}
.contact__input::-webkit-input-placeholder {
	color: #FFF;
}
.contact__input:-ms-input-placeholder {
	color: #FFF;
}
.contact__input::placeholder {
	color: #FFF;
}
.contact__message {
	resize: none;
	padding: 20px;
	height: 150px;
}
.contact__data-container {
	width: 100%;
	margin: 15px 0;
	font-size: 2rem;
	line-height: 2.5rem;
}
.contact__data-header {
	padding-top: 1rem;
	font-size: 1.7rem;
	font-weight: 700;
	text-transform: uppercase;
}
.contact__data {
	
}
/*Footer*/
.footer {
	height: 90px;
	padding: 10px 0;
	background-color: #262626;
	color: #B9B9B9;
	font-size: 1.6rem;
	line-height: 35px;
	text-align: center;
}
.footer__rights {
	display: block;
}
.footer__name {
	display: none;
	font-family: Pacifico;
	font-size: 2.5rem;
}
.footer__text {
	
}
.footer__text--red {
	color: #FF2B58;
	font-size: 1.5rem;
}