/*Font improting*/

@font-face {
  font-family: Pacifico;
  src: URL('../fonts/Pacifico.ttf');
}

/*Basic styles*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Raleway;
  font-size: 62.5%;
  font-weight: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*Sections positioning*/

.intro__wrapper, .about__wrapper, .services__wrapper, .gallery__wrapper, .subscription__wrapper, .blog__wrapper, .contact__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 30px;
}

/*Section headers*/

.intro__header, .about__header, .services__header, .gallery__header, .subscription__header, .blog__header, .contact__header {
  font-size: 4.2rem;
  font-weight: 900;
  margin: 60px 0;
  text-align: center;
  text-transform: capitalize;
}

/*Section paragraphs*/

.intro__text, .about__text, .services__text, .gallery__text, .subscription__text, .blog__text, .contact__text {
  max-width: 600px;
  margin-bottom: 60px;
  font-size: 1.7rem;
  line-height: 2.7rem;
  text-align: center;
}

/*Section buttons*/

.intro__btn, .services__btn, .gallery__btn, .subscription__btn, .blog__btn {
  height: 55px;
  width: 200px;
  max-width: 100%;
  border: none;
  font-family: Raleway;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

/*Header*/

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  height: 80px;
  width: 100%;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.header--active {
  height: 508px;
  border-bottom: 1px solid #000;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.header__name {
  position: absolute;
  left: 30px;
  font-family: Pacifico;
  font-size: 4.2rem;
  line-height: 80px;
  margin: 0;
}

.navbar {
  position: absolute;
  top: 80px;
  width: 100%;
}

.navbar__list {
  width: 100%;
  font-weight: bold;
}

.navbar__elem {
  width: 100%;
  background-color: #F9F8FB;
  border-top: 1px solid #000;
  font-size: 1.6rem;
  line-height: 60px;
  list-style-type: none;
  text-align: center;
}

.navbar__link {
  display: block;
}

.header__hamburger {
  top: 20px;
  left: calc(100% - 75px);
  position: relative;
  height: 40px;
  width: 45px;
  background: transparent;
  border: none;
  border-top: 5px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(12.5px);
  transform: translateY(12.5px);
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0.5rem solid #000;
}

.header__hamburger::after {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.header__hamburger--active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: none;
  outline: none;
}

.header__hamburger--active::after {
  -webkit-transform: rotate(-90deg) translateX(-1.25rem);
  transform: rotate(-90deg) translateX(-1.25rem);
}

/*Intro section*/

.intro {
  background-image: url(../img/intro-bkg.png);
  background-position: top;
}

.intro__wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 600px;
  padding-top: 60px;
}

.intro__header {
  margin-top: 0;
  margin-bottom: 17px;
}

.intro__text {
  max-width: 400px;
  margin-bottom: 0;
}

.intro__btn {
  width: 200px;
  background: #FF6033;
  color: #FFF;
  margin-top: 80px;
}

/*About us section*/

.about {
  background-image: url(../img/about-bkg.png);
  background-position: 60%;
}

.about__text {}

/*Services section*/

.services {
  background-image: url(../img/services-bkg.png);
  background-position: 70%;
  padding-bottom: 40px;
}

.services__btn {
  position: relative;
  height: 80px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  background-color: #FFF;
  color: #262626;
  font-weight: 700;
  text-transform: none;
}

.services__image_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 80px;
  border-left: 2px solid rgba(38, 38, 38, 0.7);
}

.services__name {
  display: block;
  margin-right: 80px;
  text-transform: capitalize;
}

.services__icon {
  height: 80px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.services__icon--position {
  -webkit-transform: scale(0.8) translateY(-4px);
  transform: scale(0.8) translateY(-4px);
}

/*Gallery section*/

.gallery {
  background-color: #FFE92F;
}

.gallery__text {}

.gallery__container {
  width: calc(100% + 60px);
}

.gallery__photo {
  display: block;
  height: 80vw;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery__btn {
  margin: 20px 0;
  background: #5585A2;
  color: #FFF;
}

/*Subscription section*/

.subscription {
  background-image: url(../img/subscribe-bkg.png);
  background-position: 60% 200px;
}

.subscription__header {
  margin: 0;
  padding: 60px 0;
}

.subscription__text {}

.subscription__input {
  height: 55px;
  width: 100%;
  max-width: 400px;
  padding-left: 10px;
  border: solid 1px #000;
  font-size: 1.5rem;
}

.subscription__btn {
  width: 170px;
  background-color: #96B92C;
  margin: 30px 0;
}

/*Blog section*/

.blog {
  background-color: #B07CF7;
}

.blog__container {
  width: calc(100% + 60px);
}

.blog__article {
  position: relative;
  height: 310px;
  background-position: center;
  background-size: cover;
}

.blog__article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(rgb(26, 26, 26)));
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0), rgb(26, 26, 26));
  opacity: 0.7;
}

.article__date {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 60px;
  width: 60px;
  background-color: rgba(38, 38, 38, 0.5);
  border-radius: 6px;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.article__month {
  display: block;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.article__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.article__paragraph {
  font-size: 2rem;
  font-weight: 700;
}

.blog__btn {
  margin: 20px 0;
  background-color: #F72B3B;
  color: #FFF;
}

/*Contact section*/

.contact {
  background-image: url(../img/contact-bkg.png);
  background-position: center;
  background-size: cover;
}

.contact__text {
  max-width: 400px;
}

.contact__input-header {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  background-color: #00C4C4;
  border-left: 5px solid #355B82;
  color: #fff;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
}

.contact__input {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
  background-color: #00C4C4;
  border: none;
  color: #FFF;
  font-size: 1.5rem;
}

.contact__input::-webkit-input-placeholder {
  color: #FFF;
}

.contact__input:-ms-input-placeholder {
  color: #FFF;
}

.contact__input::-ms-input-placeholder {
  color: #FFF;
}

.contact__input::placeholder {
  color: #FFF;
}

.contact__message {
  resize: none;
  padding: 20px;
  height: 150px;
}

.contact__data-container {
  width: 100%;
  margin: 15px 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.contact__data-header {
  padding-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact__data {}

/*Footer*/

.footer {
  height: 90px;
  padding: 10px 0;
  background-color: #262626;
  color: #B9B9B9;
  font-size: 1.6rem;
  line-height: 35px;
  text-align: center;
}

.footer__rights {
  display: block;
}

.footer__name {
  display: none;
  font-family: Pacifico;
  font-size: 2.5rem;
}

.footer__text {}

.footer__text--red {
  color: #FF2B58;
  font-size: 1.5rem;
}

@media screen and (min-width: 360px) {
  .header {
    height: 100px;
  }
  .header--active {
    height: 528px;
  }
  .header__name {
    line-height: 100px;
  }
  .header__hamburger {
    top: 30px;
  }
  .navbar {
    top: 100px;
  }
  .intro {
    background-position: 50% 30%;
  }
  .intro__wrapper {
    height: 736px;
  }
  .intro__btn {
    margin-top: 160px;
  }
}

@media screen and (min-width: 400px) {
  .intro__header, .about__header, .services__header, .gallery__header, .subscription__header, .blog__header, .contact__header {
    font-size: 6rem;
  }
  .header {
    height: 140px;
  }
  .header--active {
    height: 568px;
  }
  .header__name {
    line-height: 140px;
  }
  .header__hamburger {
    top: 50px;
  }
  .navbar {
    top: 140px;
  }
  .intro__wrapper {
    padding-top: 120px;
  }
  .intro__btn {
    margin-top: 250px;
  }
  .blog__article {
    height: 70vw;
  }
}

@media screen and (min-width: 740px) {
  /*Navbar*/
  .header {
    height: 147px;
    padding: 0 30px;
  }
  .header__name {
    position: static;
    line-height: 147px;
    margin-right: 30px;
  }
  .header__hamburger {
    display: none;
  }
  .navbar {
    position: static;
    height: 147px;
    max-width: 570px;
  }
  .navbar__list {
    height: 147px;
    text-align: justify;
  }
  .navbar__list::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .navbar__elem {
    display: inline-block;
    width: auto;
    border: none;
    line-height: 147px;
    background: transparent;
  }
  /*Intro section*/
  .intro {
    background-position: center;
  }
  .intro__wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 50px 100px 50px;
  }
  .intro__text {
    max-width: 370px;
    text-align: left;
  }
  .intro__btn {
    margin-top: 30px;
  }
  /*About section*/
  .about {
    background-position: center;
  }
  .about__wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 50%;
    padding-right: 50px;
  }
  .about__text {
    text-align: left;
  }
  /*Services section*/
  .services {
    background-position: 75%;
    height: 790px;
    padding-bottom: 0;
  }
  .services__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 0 50px;
  }
  .services__header {
    margin: 0;
    color: #FFF;
    width: 100%;
  }
  /*Subscription section*/
  .subscription {
    background-position: center;
  }
  .subscription__wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 50px;
  }
  .subscription__text {
    text-align: left;
  }
  /*Contact section*/
  .contact__wrapper {
    padding: 0 50px;
  }
  .contact__container {
    width: 100%;
  }
  .contact__data-container {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  /*Sections positioning*/
  .intro, .about, .services, .gallery, .subscription, .blog, .contact {
    background-position: center;
    background-size: cover;
  }
  .intro__wrapper, .about__wrapper, .services__wrapper, .gallery__wrapper, .subscription__wrapper, .blog__wrapper, .contact__wrapper {
    padding: 0;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  .about__header, .services__header, .gallery__header, .blog__header, .contact__header {
    font-size: 9rem;
  }
  .header {
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .intro {
    height: 1000px;
  }
  .intro__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about {
    height: 700px;
  }
  .about__wrapper {}
  .about__header, .about__text {
    margin-left: 55%;
    max-width: 500px;
  }
  /*Gallery section*/
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 1170px;
    padding: 5px;
  }
  .gallery__photo {
    height: auto;
    width: auto;
    margin: 5px;
  }
  .gallery__container a:nth-of-type(3) {
    position: absolute;
    top: 295px;
    right: 5px;
  }
  /*Subscription section*/
  .subscription {
    height: 500px;
  }
  /*Blog section*/
  .blog {
    height: 864px;
  }
  .blog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1170px;
  }
  .blog__article {
    height: 310px;
    width: 370px;
  }
}
